@using Haondt.Core.Extensions
@using Haondt.Core.Models
@using Hestia.Domain.Models
@using Hestia.UI.Core.Components

@code {
    [Parameter, EditorRequired]
    public required RecipeIngredientModel Ingredient { get; set; }

    [Parameter, EditorRequired]
    public required int GroupId { get; set; }
}

 <div class="recipe-ingredients-list-item mt-2 columns is-gapless mb-0">
    <div class="column">
        <input 
            name="@(nameof(RecipeModel.Ingredients))[@GroupId].@(nameof(RecipeIngredientModel.IngredientId))"
            type="hidden" 
            value="@Ingredient.IngredientId.Unwrap()" />
            <div class="is-flex is-align-items-center">

        <span class="drag-handle is-hidden-mobile mr-3"></span>
        <div class="field has-addons is-flex-grow-1">
            <div class="control">
                <input 
                    name="@(nameof(RecipeModel.Ingredients))[@GroupId].@(nameof(RecipeIngredientModel.Quantity))"
                    class="input unit-input" 
                    type="number" 
                    value="@Ingredient.Quantity.Unwrap()"
                    step="any"
                    readonly>
            </div>
            <div class="control">
                <input 
                    name="@(nameof(RecipeModel.Ingredients))[@GroupId].@(nameof(RecipeIngredientModel.Unit))"
                    class="input unit-input" 
                    type="text"
                    value="@Ingredient.Unit.Unwrap()"
                    readonly>
            </div>
            <div class="control is-expanded @(Ingredient.IngredientId.HasValue ? "" : "has-icons-right")">
                <input 
                    name="@(nameof(RecipeModel.Ingredients))[@GroupId].@(nameof(RecipeIngredientModel.Name))"
                    class="input" 
                    type="text" 
                    value="@Ingredient.IngredientName.Or(Ingredient.Name)"
                    readonly>
                @if (!Ingredient.IngredientId.HasValue)
                {
                    <span class="icon is-right">
                        <LucideIcon CssClass="has-text-info" Name="asterisk" Size="20" />
                    </span>
                }
            </div>
        </div>
            <span class="drag-handle is-hidden-tablet ml-3"></span>
            </div>
    </div>

     <div class="column is-align-content-center is-narrow">
        <div class="addon-end is-flex is-gap-1 is-align-items-center ml-3">
            <p 
                class="is-clickable has-text-danger is-ghost"
                _="on click remove closest .recipe-ingredients-list-item">
                Delete
            </p>
        </div>
     </div>
</div>
